@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-MediumItalic.woff2") format("woff2"),
        url("../font-family/BrandonGrotesque-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-BoldItalic.woff2") format("woff2"),
        url("../font-family/BrandonGrotesque-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-ThinItalic.woff2") format("woff2"),
        url("../font-family/BrandonGrotesque-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-LightItalic.woff2") format("woff2"),
        url("../font-family/BrandonGrotesque-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-Light.woff2") format("woff2"),
        url("BrandonGrotesque-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-Black.woff2") format("woff2"),
        url("BrandonGrotesque-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../font-family/BrandonGrotesque-RegularItalic.woff2") format("woff2"),
        url("../font-family/BrandonGrotesque-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Brandon Grotesque",sans-serif; */
    font-size: 1.125rem;
    position: relative;

    &.active-background {
        background-color: var(--color-gray) !important;
    }
}

ul {
    margin-bottom: 0;

    li {
        list-style-type: none;

        a {
            color: var(--color-black) !important;
        }
    }
}

.test {
    position: relative;
    background-color: white;

    &::after {
        content: '';
        position: absolute;
        transform: skewX(-20deg);
        transition: width 0.6s ease-in-out;
        will-change: transform;
        margin-left: -1rem;
        border-right: 5rem solid var(--color-white);
        pointer-events: none;
        height: 100%;
        width: 100%;
        top: 0;
        right: -2rem;
        bottom: 0;
    }
}

.pasive {
    display: none !important;
}

.active {
    display: flex !important;
}

.toggle-view-galery {
    display: none;
    cursor: pointer;
}

.toggle-view {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 992px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

:root {
    --color-black: #000;
    --color-gray: #848585;
    --color-white: #fff;
    --cream-color: #fff8f1;
    --color-red: #a30219;
    --color-light-red: #c50606;
}

@mixin shadow {
    -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

#back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--color-white);
}

#back-to-top:hover {
    cursor: pointer;
    background-color: var(--color-red);
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

header {
    .navbar {
        @include shadow;
        height: 8rem;
        padding: 0rem 1rem 0rem 1rem;

        .social-media {
            a {
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }

                i {
                    color: var(--color-black);
                }
            }
        }

        .navbar-brand {
            margin-right: 0;

            img {
                max-width: 10rem;

                @media screen and(max-width:$sm-breakpoint) {
                    max-width: 6rem;
                }
            }
        }

        .dropdown-menu {
            min-width: 1rem;
            border-radius: 0.8rem;
            -webkit-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.34);
            -moz-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.34);
            box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.34);
        }

        .dropdown {
            .btn {
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }
}

.menus {
    overflow: hidden;

    .menu-title-area {
        background-color: var(--cream-color);
        height: 12rem;
        padding: 0rem 0rem 2rem 4rem;
        @include shadow;

        @media screen and(max-width:$sm-breakpoint) {
            height: 7rem;
            padding: 0rem 0rem 1rem 1rem;
        }

        h1 {
            font-weight: 400;
            font-size: 1.5rem;

            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1.1rem;
            }

            @media screen and(max-width:375px) {
                font-size: 1rem;
            }
        }
    }

    .list-view-area {
        padding: 1rem 0;

        h3 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 0;
            letter-spacing: 0.1rem;
            display: flex;

            @media screen and(max-width:$sm-breakpoint) {
                font-size: 0.8rem;
            }

            i {
                margin-left: 0.5rem;
            }
        }
    }

    .box-item {
        margin-bottom: 1rem;
        cursor: pointer;

        .toggle-area {
            /*  background-color: var(--color-red); */
            height: 10rem;
            /* padding: 2rem; */
            position: relative;

            @media screen and(max-width:$sm-breakpoint) {
                padding: 1rem;
            }

            span {
                color: var(--color-white);
                z-index: 99;
                font-weight: 400;
                font-size: 1.4rem;

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.1rem;
                }

                @media screen and(max-width:375px) {
                    font-size: 1rem;
                }
            }

            i {
                color: var(--color-white);
                font-size: 2.3rem;
                opacity: 0.5;
                z-index: 99999;

                &.show-box {
                    transform: rotate(180deg);
                }

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.5rem;
                }

                @media screen and(max-width:375px) {
                    font-size: 1rem;
                }
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
                background: linear-gradient(180deg,
                        rgba(0, 0, 0, 0.4542191876750701) 0%,
                        rgba(0, 0, 0, 0.13209033613445376) 35%,
                        rgba(0, 0, 0, 0.46262254901960786) 100%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
            }
        }

        .content {
            .list-view {
                padding: 2rem;

                @media screen and(max-width:$sm-breakpoint) {
                    padding: 2rem 1rem;
                }
            }

            .galery-view {
                .card {
                    border: 1px solid var(--color-black);
                    border-radius: 0;
                    padding: 1rem;

                    .card-title {
                        font-size: 1.1rem;
                    }
                }
            }

            .card {
                border: 0;

                .card-body {
                    padding: 1rem 0rem;

                    @media screen and(max-width:$sm-breakpoint) {
                        flex-direction: column;
                    }

                    .price-and-detail {
                        @media screen and(max-width:$sm-breakpoint) {
                            flex-direction: column;
                            margin-top: 0.6rem;
                        }
                    }

                    .price {
                        display: block;
                        margin-right: 2rem;
                        font-size: 1.2rem;
                        font-weight: 400;

                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 1rem;
                        }
                    }


                    .card-title {
                        color: var(--color-black);
                        font-weight: 400;
                        font-size: 1.3rem;

                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 1.1rem;
                        }
                    }

                    .card-text {
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    .btn {
                        border: 3px solid var(--color-light-red);
                        padding: 0.5rem 0.7rem;
                        color: var(--color-light-red);
                        font-weight: 400;
                        font-size: 0.8rem;

                        @media screen and(max-width:$sm-breakpoint) {
                            padding: 0.4rem 0.5rem;
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }

    @include shadow;
}

.modal {
    z-index: 999999999;

    .modal-dialog {
        min-width: 100%;
        margin: inherit;

        .modal-content {
            margin: 1rem;

            .modal-body {
                padding: 0rem;

                .btn-close {
                    right: 0.2rem;
                    position: absolute;
                    font-size: 1.3rem;
                    z-index: 999999999;
                }

                .img-area {
                    padding: 0rem 2.5rem;
                    position: relative;

                    img {
                        border-radius: 0;
                    }

                    @include shadow;
                }

                .name-price-area {
                    padding: 2rem 2.5rem;
                    background-color: var(--cream-color);

                    .price {
                        font-weight: 600;
                    }
                }

                .description {
                    padding: 2rem 2.5rem;
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }

            .modal-footer>* {
                margin: 0;
            }

            .modal-footer {
                padding: 0;
                margin: 0;

                .btn {
                    color: var(--color-red);
                    font-size: 1.3rem;
                    border: 3px solid var(--color-light-red);
                    border-radius: 0;
                }
            }
        }
    }
}

footer {
    background-color: var(--cream-color);
    @include shadow;
    padding: 1rem;

    .top-footer {
        padding: 2rem 0rem 4rem 0rem;

        .menu {
            color: var(--color-gray);
            font-weight: 400;
            display: block;
            margin-bottom: 3rem;
            font-size: 1.2rem;

            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1rem;
            }
        }

        .address {
            max-width: 16rem;
            width: 100%;
            padding-left: 0rem;

            li {
                font-weight: 400;
            }

            li,
            a {
                font-size: 1rem;
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid var(--color-black);
        padding-top: 2rem;

        a {
            img {
                max-width: 10rem;
            }
        }

        .copyright-text {
            font-size: 1rem;
            margin-top: 0.6rem;

            @media screen and(max-width:$sm-breakpoint) {
                font-size: 0.8rem;
            }
        }
    }
}