@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    position: relative;
}

ul {
    margin-bottom: 0;
    li {
        list-style-type: none;
        a {
            color: var(--color-black) !important;
        }
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

//responsive breakpoints
$sm-breakpoint: 576px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 992px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

:root {
    --color-black: #000;
    --color-gray: #848585;
    --color-white: #fff;
    --cream-color: #fff8f1;
    --color-red: #a30219;
    --color-light-red: #c50606;
}

@mixin shadow {
    -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
}

header {
    .navbar {
        @include shadow;
        height: 6rem;
        padding: 0rem 1rem 0rem 1rem;

        .navbar-brand {
            margin-right: 0;
            img {
                max-width: 8rem;
                @media screen and(max-width:$sm-breakpoint) {
                    max-width: 6rem;
                }
            }
        }
        .btn-check:focus + .btn,
        .btn:focus {
            box-shadow: none;
        }
        .dropdown-menu {
            min-width: 1rem;
            border-radius: 0.8rem;
            -webkit-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.34);
            -moz-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.34);
            box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.34);
        }
        .dropdown {
            .btn {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

.menus {
    overflow: hidden;

    .menu-title-area {
        background-color: var(--cream-color);
        height: 12rem;
        padding: 0rem 0rem 2rem 4rem;
        @media screen and(max-width:$sm-breakpoint) {
            height: 9rem;
            padding: 0rem 0rem 1rem 1rem;
        }
        h1 {
            font-weight: 400;
            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1.2rem;
            }
        }
    }
    .list-view-area {
        padding: 1rem 0;
        h3 {
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 0;
            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1rem;
            }
            i {
                margin-left: 0.5rem;
            }
        }
    }
    .box-item {
        margin-bottom: 1rem;

        .toggle-area {
            background-color: var(--color-red);
            height: 10rem;
            padding: 2rem;
            @media screen and(max-width:$sm-breakpoint) {
                padding: 1rem;
            }
            span {
                color: var(--color-white);
                z-index: 99999;
            }
            i {
                color: var(--color-white);
                font-size: 2rem;
                opacity: 0.5;
                z-index: 99999;
                &.show-box {
                    transform: rotate(180deg);
                }
            }

            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.4542191876750701) 0%,
                    rgba(0, 0, 0, 0.13209033613445376) 35%,
                    rgba(0, 0, 0, 0.46262254901960786) 100%
                );
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .content {
            .list-view {
                padding: 4rem 2rem 2rem 2rem;
                @media screen and(max-width:$sm-breakpoint) {
                    padding: 2rem 1rem;
                }
            }
            .galery-view{
                .card{
                    border: 1px solid var(--color-black);
                    border-radius: 0;
                    padding: 1rem;
                    .card-body{
                        .price{
                            display: block;
                            margin-right: 2rem;
                        }
                    }
                }
            }
            .card {
                border: 0;
                
                .card-body {
                    padding: 1rem 0rem;
                    .card-title {
                        color: var(--color-black);
                        font-weight: 400;
                    }
                    .btn {
                        border: 3px solid var(--color-light-red);
                        padding: 0.3rem 0.5rem;
                        color: var(--color-light-red);
                        font-weight: 500;
                    }
                }
            }
        }
    }
    @include shadow;
}

footer {
    background-color: var(--cream-color);
    @include shadow;
    padding: 1rem;

    .top-footer {
        padding: 2rem 0rem 4rem 0rem;
        .menu {
            color: var(--color-gray);
            font-weight: 400;
            display: block;
            margin-bottom: 3rem;
            font-size: 1.2rem;
        }

        ul {
            padding-left: 0rem;
            li {
                a {
                    color: var(--color-black);
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }
        }

        h4 {
            font-size: 1.2rem;
            color: var(--color-gray);
            margin-top: 0.5rem;
            font-weight: 400;
        }

        .address {
            max-width: 16rem;
            width: 100%;
            li {
                font-weight: 400;
            }
            li,
            a {
                font-size: 1rem;
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid var(--color-black);
        padding-top: 2rem;
        a {
            img {
                max-width: 10rem;
            }
        }
    }
}
